<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b1d0565 (sidebar collapse)
<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-temporary, data-controller="flash", class="fixed top-10 right-3 z-50 bg-red-100 text-red-700 px-4 py-3 rounded shadow transition-all duration-300" role="alert">
    <%# <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
    </h2> %>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<% end %>
<<<<<<< HEAD

=======
>>>>>>> 105f780 (devise setup completed)
=======
<% end %>
>>>>>>> 25d14f9 (Completed all setup for devise, completed UI for all, error message)
=======
<% end %>

>>>>>>> 3fa3314 (Initial Setup Completed)
=======
>>>>>>> 5b871ff (Devisesetup (#3))
=======
<% end %>

>>>>>>> b1d0565 (sidebar collapse)
