<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-temporary data-controller="flash" class="fixed top-10 right-3 z-50 bg-red-100 text-red-700 px-4 py-3 rounded shadow transition-all duration-300" role="alert">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>